<!DOCTYPE html>
<html lang=eng>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-4">Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>

    <h2>Latest Mars News</h2>
    <h3> {{ mars_info.news_title }} </h3>
    <h4> {{ mars_info.news_p }}</h4>

    <img src={{ mars_info.featured_image }} alt=Featured />


    <h4>Mars Facts</h4>
    {{ mars_info.facts }}


    <h4>Mars Hemispheres</h4>
    {% for item in mars_info.hemisphere %}
    <img src={{ item.image }}>
    {{ item.title }}


    {% endfor %}

</body>

</html>